@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin subtitle {
  &__subtitle {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__type {
    color: $gray;
    font-weight: 500;
    font-size: 14px;
  }

  &__date {
    color: $green;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
  }
}

@mixin footer-span {
  color: $black;
  font-weight: 400;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  line-height: 141%;
}

@mixin pagination {
  margin: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;

  &__switch {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #e0e0e0;
  }

  &__switch--active {
    background-color: #1a5a4c;
  }
}
